.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
}

.header_logo {
  height: 80px;
  object-fit:contain;
  margin-left: 10px;
}

.header_input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header_inputButton{
  width: 10% !important;
  background-color: rgb(246, 246, 246);
  border-left: 1px solid rgb(236, 236, 236);
  color: grey;
}

.header_input > input {
  flex: 1;
  border: none;
}


.header_left {
  display: flex;
  align-items: center;
}

.header_icons {
  display: flex;
  align-items: center;
}

.header_icon{
  margin-right: 8px;
}




